
<app-add-profile (closeModalEvent)="updateTable($event)"></app-add-profile>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Profile</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm" data-toggle="modal" data-target="#modalLoginForm" (click)="showModal()" >Add a Profile</button>
      </div>
    </div>
  </div>


<div class="table-responsive-sm">

  <table class="table-sm table-bordered table">
    <thead>
    <tr class="table-info">
      <th class="d-none"></th>
      <th>Select</th>
      <th>Candidate Name</th>
      <th>Email ID</th>
      <th>Phone Number</th>
      <th>Title</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let profile of profiles">
        <td  class="d-none"><input type="hidden" value="profile.id" /></td>
      <td><input type="checkbox"/></td>
       <td><a href="#" role="button" (click)="onClickShowModal(profile)" data-toggle="modal" data-target="#modalShowProfile">{{ profile.firstName }}  {{ profile.lastName }}</a></td>
      <td>{{ profile.emailId }}</td>
      <td>{{ profile.phoneNumber }}</td>
      <td>{{ profile.title }}</td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" (click)="deleteProfile($event)">Delete</button>
  </div>

  <app-show-profile ></app-show-profile>
