
<app-add-profile (closeModalEvent)="updateTable($event)"></app-add-profile>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Profile</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm" data-toggle="modal" data-target="#modalLoginForm" (click)="showModal()" >Add a Profile</button>
      </div>
    </div>
  </div>


<div class="table-responsive-sm">

  <table class="table-sm table-bordered table">
    <thead>
    <tr class="table-info">
      <th>Candidate Name</th>
      <th>Email ID</th>
      <th>Phone Number</th>
      <th>Title</th>
      <th>Experience (in years)</th>
      <th>Profile Summary</th>
      <th>Primary Skills</th>
      <th>Secondary Skills</th>
      <th>Delete Profile</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let profile of profiles">
      <td>{{ profile.candidateName }}</td>
      <td>{{ profile.emailId }}</td>
      <td>{{ profile.phoneNumber }}</td>
      <td>{{ profile.title }}</td>
      <td>{{ profile.numberOfYearsExp }}</td>
      <td>{{ profile.profileSummary }}</td>
      <td>{{ profile.primarySkills }}</td>
      <td>{{ profile.secondarySkills }} </td>
      <td><button class="btn btn-danger" (click)="deleteProfile(profile)">Delete</button></td>
    </tr>
    </tbody>
  </table>
  </div>
